body {
  font-family: 'Noto Sans';
}
a {
  color: black;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
	page-break-before: avoid !important;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	line-height: 2.35;
	margin-top: 2.5em;
	margin-bottom: 0.8em;
	page-break-after: avoid !important;
}
